section.details {
  min-height: 800px;
}
section.details h3 {
  color: var(--soller400);
  font-size: 1.5em;
  text-transform: uppercase;
}
section.details p {
  color: var(--green-light);
  font-size: 0.7em;
}
