.details {
  background-color: var(--gray800);
  height: 100%;
}
.title {
  color: var(--soller400);
  font-size: 1.5em;
  text-transform: uppercase;
}
.subtitle {
  color: var(--green-light);
  font-size: 1em;
}
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.column-left {
  padding: 3em 0 1em 0;
}
.column-right {
  padding: 1em 0 2em 0;
}

@media (min-width: 992px) {
  .column-left {
    padding: 4em 2em 3em 0;
  }
  .column-right {
    padding: 4em 0 3em 2em;
  }
  .cover {
    align-items: start;
  }
}
