.card__wrapper {
  background-color: var(--gray600);
  padding: 2px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 35px) 100%,
    0 calc(100% - 35px)
  );
}
.card {
  font-size: 1.5em;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 34px) 100%,
    0 calc(100% - 34px)
  );
  background: var(--gray800);
}
.image-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image {
  margin-right: 1em;
  border-radius: 50%;
  border: 4px solid var(--soller400);
  height: 100%;
  opacity: 0.4;
}
.col-center {
  min-height: 360px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 1.5em;
}
.col-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 01em 0 !important;
}
.col-right-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-light);
  aspect-ratio: 1;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 15px) 100%,
    0 calc(100% - 15px)
  );
}
.col-right-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: var(--green-light);
  margin-top: auto;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
.title {
  font-size: 1em;
  color: var(--gray400);
  padding: 0;
  word-wrap: break-word;
}
.text {
  font-size: 14px;
  color: var(--gray400);
}
.info {
  padding: 1em 0;
  color: var(--soller400);
}
.footer {
  font-size: 0.8em;
  margin-top: auto;
  color: var(--soller400);
}
@media (min-width: 360px) and (max-width: 992px) {
}
