.product__card__wrapper {
  background-color: var(--gray600);
  padding: 2px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 35px) 100%,
    0 calc(100% - 35px)
  );
}
.product__card {
  border-radius: 0;
  overflow: hidden;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 35px) 100%,
    0 calc(100% - 35px)
  );
  background: var(--gray800);
}
.image {
  padding: 1em 1em 0 1em;
}
.free {
  width: 100%;
  letter-spacing: 2px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: -60px;
  white-space: nowrap;
  color: var(--green-light);
  padding: 0.5em;
  background-color: var(--gray800);
  transform: rotate(-45deg);
}
.title {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 0.5em;
  text-align: center;
  color: var(--gray400);
}
.price {
  font-size: 1em;
  text-align: center;
  color: var(--green-light);
  margin: 0;
}
.card__footer {
  border: 0;
  padding: 1em;
  border-radius: 0 !important;
}
