.button-wrapper {
  padding: 2px;
  background-color: var(--soller400);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 26px) 100%,
    0 calc(100% - 26px)
  );
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding: 1em;
  color: var(--soller400);
  border: 0;
  text-transform: uppercase;
  flex-wrap: nowrap;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(0% + 25px) 100%,
    0 calc(100% - 25px)
  );
  background: var(--gray800);
}
.button svg {
  margin-right: 0.3em;
}
@media (max-width: 768px) {
  .button {
    font-size: 0.7em;
  }
  .button svg {
    transform: scale(0.8);
  }
}
