.banner {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--gray800);
  position: relative;
}
.title {
  position: relative;
  color: var(--gray100);
  font-size: 2.5em;
  line-height: 1.5 !important;
  min-height: 120px;
  padding: 2em 0 0 0;
}
.float {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0%);
  width: 140%;
}
.float span {
  color: var(--soller400);
  border-bottom: 3px solid var(--soller400);
}
.subtitle {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--green-light);
  position: absolute;
  left: 0;
  top: -24px;
  z-index: 2;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
} */
.image {
  width: 100%;
  height: 100%;
  opacity: 0.15;
  padding: 2em;
}
@media (min-width: 360px) and (max-width: 992px) {
  .float {
    font-size: 0.8em;
    width: 100%;
  }
  .subtitle,
  .float {
    top: 0;
    position: relative;
  }
}
